
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
      *
      {
          margin:0px;
      }    
    </style>
</head>
<body>
    <div style="height:60px;background-color:gray;">
        <div style="height:60px;width:50%; float:left; background-color:aquamarine;">
             <img src="images/logo.jpg" height="60" width="200" />
             smh dagjsagdjg sdg jgd dghsyagdjhsag dgsjdg jsdg jhsdg sd ghjsgd
        </div>
        <div style="height:60px;width:50%;float:right; background-color:blue;">
             Header Part2
        </div>
    </div>
     <div style="height:400px;background-color:gray;">
        <div style="height:400px;width:33%; float:left; background-color:darkred;">
             Middle Part1
        </div>
        <div style="height:400px;width:33%;float:left; background-color:orange;">
             Middle Part2
        </div>
         <div style="height:400px;width:33%;float:left; background-color:darkcyan;">
             Middle Part3
        </div>
    </div>
    <div style="height:100px;background-color:gray;">
        <div style="height:100px;width:50%; float:left; background-color:aquamarine;">
             Header Part1
        </div>
        <div style="height:100px;width:50%;float:right; background-color:blue;">
             Header Part2
        </div>
    </div>
</body>
</html>
